/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

:root {
  --ion-color-primary: #1e974a;
  --ion-color-primary-rgb: 30, 151, 74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #39b54a;
  --ion-color-primary-tint: #8cc63f;

  --ion-color-secondary: #83cd07;
  --ion-color-secondary-rgb: 131, 205, 7;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #39b54a;
  --ion-color-secondary-tint: #8cc63f;

  --ion-color-tertiary: #83cd07;
  --ion-color-tertiary-rgb: 131, 205, 7;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #39b54a;
  --ion-color-tertiary-tint: #8cc63f;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-facebook: #3578e5;
  --ion-color-google: #de5246;
  --ion-color-wechat: #7bb32e;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #ffff;

  --fontsize-large: 14px;
  --fontsize-medium: 13px;
  --fontsize-small: 12px;
}

ion-menu {
  background-color: var(--ion-color-primary-shade);
  opacity: 0.9;
}

ion-menu ion-content {
  background-color: var(--ion-color-primary-shade);
}

ion-slides {
  height: 100%;
}

ion-card {
  /* min-height: 280; */
  margin: 6px 1px 6px 1px;
  min-width: 150px;
  min-height: 157px;
}

ion-col {
  margin-left: 1px;
  margin-right: 1px;
}
ion-card-header {
  min-height: 46px;
  max-height: 90px;
}
ion-card-content {
  min-height: 90px;
}

ion-header p {
  padding-top: 3px;
  padding-left: 40px;
  font-size: var(--fontsize-small);
  display: block;
  margin-block-end: 0em;
  margin:0;
  width: 75%;
  white-space: pre-wrap;
}

ion-button {
  margin: 0 0 0 0;
}

.checkout_conditions p {
  width: 100%;
  text-align: right;
  font-size: var(--fontsize-small);
}

.orderDayShopHeader {
  background-color: var(--ion-color-secondary);
  font-size: 12zpx;
}
.category_name {
  text-align: center;
  margin-top: 5px;
}

.footer_pay {
  width: 170px;
}
.shop_card {
  min-height: 300px;
  margin-left: 21px;
  margin-right: 21px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.shop_card ion-img {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
}
.startmall_header {
  width: 170px;
  position: absolute;
  z-index: 999;
  /* TODO: may use fab-vertical-top in future*/
  top: calc(10px + var(--ion-safe-area-top, 0px));
  left: calc(10px + var(--ion-safe-area-left, 0px));
}

.startmall_header_text {
  padding-left: 60px;
  padding-top: 10px;
  width: 220px;
}

.category {
  height: 80px;
}
.category ion-item {
  font-size: var(--fontsize-medium);
}
.category ion-card-header {
  padding: 10 0 0 0;
}

.category ion-img {
  max-height: 109px;
  height: 129px;
}
.category ion-img img {
  max-height: 109px;
}
.category .category_payments {
  height: 25px;
}

img {
  max-height: inherit;
}

.toolbar-ios {
  padding-top: env(safe-area-inset-top);
}

.currency {
  text-align: left;
  font-weight: bold;
}

.icon {
  vertical-align: middle;
}

.ws {
  white-space: pre-line;
}

.back_button {
  height: 30px;
}

.checkout_page {
  font-size: var(--fontsize-medium);
  background-color: white;
}

.checkout_page ion-item {
  font-size: var(--fontsize-medium);
}

.checkout_page ion-label {
  font-size: var(--fontsize-medium);
}

.checkout_page_footer{
  background-color: white;
}

.shop_selection ion-item {
  font-size: var(--fontsize-medium);
  height: 30px;
}

.shop_header_condition {
  text-align: left;
  padding-left: 3px;
  width: 70%;
}

.shope_item_listing {
  height: 80px;
}

.shope_item_listing ion-item {
  font-size: var(--fontsize-medium);
}

.shope_item_listing ion-card-header {
  padding: 10 0 0 0;
}
.shope_item_listing ion-card-content {
  padding-bottom: 3px;
}
.shope_item_listing ion-img {
  max-height: 109px;
  height: 129px;
}
.shope_item_listing ion-img img {
  max-height: 109px;
}
.shope_item_listing .category_payments {
  height: 25px;
}

.shope_item_listing .shop_item_min_order {
  font-size: var(--fontsize-small);
}

.order_completed,
.login_card {
  text-align: center;
}

.order_cutoff,
.login_card {
  text-align: center;
  font-size: small;
}

.total_cart {
  margin-left: 45%;
}

.facebook_button {
  background-color: var(--ion-color-facebook);
  color: var(--ion-color-primary-contrast);
  width: 100%;
}
.google_button {
  background-color: var(--ion-color-google);
  color: var(--ion-color-primary-contrast);
  width: 100%;
}
.wechat_button {
  background-color: var(--ion-color-wechat);
  color: var(--ion-color-primary-contrast);
  width: 100%;
}

.facebook_button ion-icon,
.wechat_button ion-icon,
.google_button ion-icon {
  margin-right: 10px;
}

.login_card {
  margin: 30% 20px 20px 20px;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}

.login_card ion-label,
.login_card div {
  text-align: center;
  color: var(--ion-color-primary-tint);
  font-size: var(--fontsize-medium);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.login_icon {
  background-color: var(--ion-color-secondary);
  height: 69px;
  width: 69px;
  padding: 24px 24px 24px 24px;
  border-radius: 120%;

  position: absolute;
  z-index: 999;
  /* TODO: may use fab-vertical-top in future*/
  top: calc(12% + var(--ion-safe-area-top, 0px));
  left: calc(35% + var(--ion-safe-area-left, 0px));
}

.dashboard_ad {
}

.dashboard_main {
  position: absolute;
  bottom: 50px;
}
.hide {
  display: none;
}

.unhide {
  visibility: inherit;
}
.postcode_input {
  outline-color: var(--ion-color-danger);
}
.blinking-cursor {
  /* font-weight: 100; */
  /* font-size: 30px; */
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.nonsupport_page {
  text-align: center;
  background-color: var(--ion-color-primary);
  background: var(--ion-color-primary);
}

.payment_modal {
  margin-top: 30%;
}

.complete_order_card {
  margin: 30% 20px 20px 20px;
  text-align: center;
}

.order_complete_border {
  border: thin solid black;
  padding: 2;
  margin-left: 20;
}

.no_data_found {
  text-align: center;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mobile_login_header {
  text-align: center;
  margin-top: 25%;
}

.otp_input {
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  /* padding-left: 7px !important; */
  border: thin solid var(--ion-color-primary);
}

.otp_input input {
  padding: 10px;
  margin-top: 0;
  padding-left: 7px;
}

/* .error_modal{
  background-color: var(--ion-color-primary);
  background: var(--ion-color-primary);
} */

.error_modal {
   /* --background: var(--ion-background-color, rgba(0, 0, 0, 0.2)) !important ;  */
   -background: var(--ion-background-color, black);
}